
.container {
    font-family: 'Work Sans', sans-serif;
    max-width: 60rem;
    margin: 0 auto;
    padding: 6rem 0;
}

.grid {
    display: grid;
    gap: 1rem;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}

img {
    min-width: 10rem;
    height: 10rem;
}

.hero-section-data {
    p {
        margin: 2rem 0;
    }

    h1 {
        text-transform: capitalize;
        font-weight: bold;
    }

    .intro-data {
        margin-bottom: 0;
        margin: 0;
    }
}

.lorem-data {
    margin-top: -7px;
    margin-bottom: 17px;
    text-align: left;
}

.brand-name {
    margin-top: -5px;
}

.hero-section-data {
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.hero-section-image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure {
    position: relative;

    &::after {
        content: "";
        width: 60%;
        height: 80%;
        background-color: rgba(81, 56, 238, 0.4);
        position: absolute;
        left: 55%;
        top: -3rem;
        z-index: -1;
    }
}

.img-style {
    width: 90%;
    height: auto;
}

/* button styling */

.btn {
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    max-width: auto;
    background-color: rgb(98 84 243);
    color: rgb(255 255 255);
    padding: 0.8rem 1.2rem;
    border: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;

    &:hover,
    &:active {
        box-shadow: 0 1rem 1rem 0 rgb(132 144 255 / 30%);
        transform: scale(0.96);
    }
}


/* Services Section */

.container-1 {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0;
}

.grid {
    gap: 1.8rem;
}

.grid-three-column {
    grid-template-columns: repeat(3, 1fr);
}

.services-1,
.services-2,
.services-3 {
    width: auto;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: rgb(212, 219, 223);
    text-align: center;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.services-2 {
    gap: 2rem;
    background-color: transparent;
    box-shadow: none;
}

.services-column-2 {
    background: rgb(212, 219, 223);
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

h3 {
    margin-top: 1.4rem;
    font-size: 1.3rem;
}

.icon {
    /* font-size: rem; */
    width: 1.5rem;
    height: 1.5rem;
    padding: 1.1rem;
    border-radius: 50%;
    background-color: #fff;
    color: #514b74;
}

.icon-h4{
    padding: 0 0.6rem;
}


/* Trusted Section */
.container-2{
    background: rgb(212, 219, 223);
    max-width: 100%;
    margin: 5rem auto;
    padding: 3rem 0 4rem 0;
}

.brand-section {
    padding: 12rem 0 0 0;
  }
  h3 {
    text-align: center;
    text-transform: capitalize;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }

  img {
    min-width: 10rem;
    height: 10rem;
  }

  .brand-section-slider {
    padding-left: 15rem;
    padding-right: 15rem;
    margin-top: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  @media (max-width : 767px) {
    .brand-section-slider {
          margin-top: 2.2rem;
          display: grid;
          gap:1rem;
          grid-template-columns: 1fr 1fr;
          /* background-color: red; */
          text-align: center;
        }
  }